/* EI: this file could maybe use a refactor; use SCSS to break up into smaller, component-based files? */

/* Ashi sez: checkout browserify-css, sassifyq */

* {
	margin: 0;
	padding: 0;
}

.buttontext {
  text-align: right;
  color: white;
  display: none;
}
img:hover + .buttontext {
    display: block;
}
/*.buttontext:hover {   
  display: block;
}*/

.ctrlModal {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}
.col {
  border: 1px solid white;
}

.roomIcon {
  width: 90px;
  height: 90px;
/*  background-color: red;*/

}
.roomIcons {
  width: 10%;
/*  border: 3px solid white;*/
  margin-bottom: 5px;
}

.navbar-default {
  background-color: #2C2C80;
  border: 0px solid #3157A2;
}
/*//#168BEE*//*#2C2C80 #284DB2*/
.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #CCDAED;
}
.navbar-default .navbar-nav>li>a:hover  {
  color: #CCDAED;
}

body { 
  margin: 0;
}

#memory {
  font-size:80px;
/*  font-family: fantasy;*/
}

#memory-subtext{
  font-size:20px;
  line-height:200%;
}

/*//#168BEE*//*#2C2C80 #284DB2*/
/*#image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0)
  url('browser/icons/pretty-palace-wallpaper-46161-47469-hd-wallpapers.jpg');
  size:cover;
}*/

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(102,0,204,0.6);
}
#instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.big-btn {
  width: 156px;
  height: 65px;
}

.btn-transparent {
  border: 3px solid #ffffff;
  background: transparent;
  font-size: 30px;
  color: #ffffff;
}

.btn-transparent:hover{ 
  background: #ffffff;
  border: 3px solid #ffffff;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
}

canvas { width: 100%; height: 100% }

.form-control {
  width: 50%;
  margin: 6px;
}

.login-container {
  margin: 2% 10%;
  width: 50%;
}

.btn {
  margin: 0 0;
}
navbar {
  top: 0;
  position: fixed;
  width: 100%;
}
