* {
	margin: 0;
	padding: 0;
}
body { margin: 0;
		 }

.slider {
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;	
	height: 100px;
	width: 900;
	overflow: hidden;
}

.slider__item {
	width: 800px;
	height: 100px;
	margin: 10px;
	background-color:black; 
	background-size: cover;
	float: left;
}

.slider__wrapper {
	width: 9000px;
    position: relative;
    left: 0px;

    transition: left 0.3s linear;
}
.slider__wrapper:after {
	clear: both;
	content: ' ';
	display: block;
}
/*canvas { width: 100%; height: 100% }*/
