* {
	margin: 0;
	padding: 0;
}
.col {
  border: 1px solid white;
}
.ctrlsIcon {
  margin-bottom: 20px;
 /* background-image: url('browser/icons/white-map-01.png')*/*/
}
.roomIcon {
  width: 80px;
  height: 80px;
  background-color: red;

}
.roomIcons {
  width: 10%;
  border: 3px solid white;
  margin-bottom: 5px;
}

.navbar-default {
  background-color: #2C2C80;
  border: 0px solid #3157A2;
}
/*//#168BEE*//*#2C2C80 #284DB2*/
.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #CCDAED;
}
.navbar-default .navbar-nav>li>a:hover  {
  color: #CCDAED;
}
body { margin: 0;
}

#memory {
  font-size:40px;
  font-family: fantasy;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(102,0,204,0.6);
}
#instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.big-btn {
  width: 120px;
  height: 50px;
}

.btn-transparent {
  border: 2px solid #ffffff;
  background: transparent;
  font-size: 20px;
  color: #ffffff;
}

.btn-transparent:hover{ 
  background: #ffffff;
  border: 2px solid #ffffff;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

canvas { width: 100%; height: 100% }
