* {
	margin: 0;
	padding: 0;
}
.buttontext {
  text-align: center;
  color: white;
  display: none;
  text-shadow: 2px 2px 1px rgba(0,0,0, 1);
}
img:hover + .buttontext {
    display: block;
}
/*.buttontext:hover {   
  display: block;
}*/

.ctrlModal {
    margin: 2%;
    padding: 3%;
    color: #777;
    font-size: 16px;
    position: absolute;
    left: 3%;
    bottom: 300px;
    background-color: rgba(238, 238, 238, .6);
    border-radius: 5px;
}
.col {
  border: 1px solid white;
}

.roomIcon {
  width: 90px;
  height: 90px;
/*  background-color: red;*/

}
.roomIcons {
  width: 10%;
/*  border: 3px solid white;*/
  margin-bottom: 5px;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar-default .navbar-brand {
 /*   color: white;*/
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #A04843;
    font-size: 16px!important;
    font-weight: bold;
}

body { 
  margin: 0;
}

#memory {
  font-size:80px;
/*  font-family: fantasy;*/
}

#memory-subtext{
  font-size:20px;
  line-height:200%;
}

/*//#168BEE*//*#2C2C80 #284DB2*/
/*#image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0)
  url('browser/icons/pretty-palace-wallpaper-46161-47469-hd-wallpapers.jpg');
  size:cover;
}*/

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(102,0,204,0.6);
}
#instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.big-btn {
  width: 156px;
  height: 65px;
}

.btn-transparent {
  border: 3px solid #ffffff;
  background: transparent;
  font-size: 30px;
  color: #ffffff;
}

.btn-transparent:hover{ 
  background: #ffffff;
  border: 3px solid #ffffff;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
}

.btn-primary-outline:hover{ 
  background: #ffffff;
}

.btn-message-submit {
  background-color: #0961B2; /*blue*/
  color: #ffffff;
}

.btn-message-none {
  background-color: #A04843; /*maroon - matches navbar links*/
  color: #ffffff;
}

canvas { width: 100%; height: 100% }

.form-control {
  width: 50%;
  margin: 5px;
}

.login-container {
  margin: 2% 10%;
  width: 30%;
}

.btn {
  margin: 0 0;
}
navbar {
  top: 0;
  position: fixed;
  width: 100%;
}

.space {
  margin: 6%;
}

.form-group {
  margin: 0 10px;
  color: #777;
}
.message {
  padding: 10px 10px;
  margin: 0 10px;
  position: absolute;
   top:30%;
  left:40%;
  width:30%;
/*  margin: 40% auto 0 auto;*/
  /*background-color: transparent;*/
  background-color: rgba(238, 238, 238, .6);
  border-radius: 5px;

}
.message textarea.form-control {
  width: 90%;
}

.aboutModal {
    margin: 2%;
    padding: 3%;
    color: #777;
    font-size: 22px;
    position: absolute;
    left: 3%;
    bottom: 30%;
    background-color: rgba(238, 238, 238, .6);
    border-radius: 5px;
}

.loginModal {
    margin: 2%;
    padding: 2%;
    padding-right: 0%;
    color: #777;
    font-size: 22px;
    position: absolute;
    left: 60%;
    bottom: 40%;
    background-color: rgba(238, 238, 238, .6);
    border-radius: 5px;
  }

@media (min-width: 700px) and (max-height: 700px) {
  .ctrlModal {
    font-size: 80%;
    bottom: 200px;
    width: 200px;
  }
}