<div class="page-header">
<div class="space"></div>
<h2 class="text-muted text-center">About</h2>
</div>
<div class="lead container">
<p>
Centuries ago, a Greek poet named Simonides was leaving a feast, when the hall suddenly collapsed, killing everyone inside the hall. Legend has it that using a system of mnemonics, Simonides was able to recreate the scene inside the hall and direct relatives of those who had perished to the bodies of their loved ones, based on where he remembered them sitting at the feast. Thus was born the Memory Palace.
</p>
<p>
Nowadays the Memory Palace has lost its popularity, in part due to our ability to write everything down on paper or electronically. However, there are those who still live by the Memory Palace, constantly storing memories in physical palaces in their mind. The mnemonic is especially popular among those who compete in memory competitions. 
</p>
</div>