<div>
  <div ng-hide="showControls.data" class="ctrls-modal">
    <table>
      <tr>
        <th>
          <h2>Movement</h2>
        </th>
        <th></th>
        <th><h2>Objects</h2></th>
        <th></th>
      </tr>
      <tr>
        <td><strong>Move Forward</strong></td>
        <td><span class="key">W</span> or <span class="key">&uarr;</span></td>
        <td><strong>Rotate Object</strong></td>
        <td><img src="/browser/icons/swipe.png" /></td>
      </tr>
      <tr>
        <td><strong>Move Back</strong></td>
        <td><span class="key">S</span> or <span class="key">&darr;</span></td>
        <td><strong>Scale Object</strong></td>
        <td><img src="/browser/icons/pinch.png" /></td>
      </tr>
      <tr>
        <td><strong>Turn Left</strong></td>
        <td><span class="key">&larr;</span></td>
        <td><strong>Place Object</strong></td>
        <td><img src="/browser/icons/left-click.png" /></td>
      </tr>
      <tr>
        <td><strong>Turn Right</strong></td>
        <td><span class="key">&rarr;</span></td>
        <td><strong>Delete Object</strong></td>
        <td><span class="key key-long">SHIFT</span> + <img src="/browser/icons/left-click.png" /></td>
      </tr>
      <tr>
        <td><strong>Move Left</strong></td>
        <td><span class="key">A</span></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Move Right</strong></td>
        <td><span class="key">D</span></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Look Up</strong></td>
        <td><span class="key">Q</span></td>
        <td><strong>Toggle Carousel</strong></td>
        <td><span class="key">1</span></td>
      </tr>
      <tr>
        <td><strong>Look Down</strong></td>
        <td><span class="key">E</span></td>
        <td><strong>Toggle Controls Panel</strong></td>
        <td><span class="key">2</span></td>
      </tr>
    </table>
  </div>
</div>

<!--  Bootstrap grid version  -->

<!-- <div>
  <div ng-hide="showControls.data" class="ctrls-modal">

    <h2>Movement</h2>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Move Forward</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">W</span> or <span class="key">&uarr;</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Move Back</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">S</span> or <span class="key">&darr;</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Turn Left</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">&larr;</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Turn Right</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">&rarr;</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Move Left</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">A</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Move Right</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">D</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Look up</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">Q</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Look down</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">E</span></div>
      </div>
      

      <h2>Control Panel</h2>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Toggle Carousel</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">1</span></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Toggle Controls Key</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key">2</span>
        </div>
      </div>

    </div>

    <h2>Objects</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Rotate Object</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><img src="/browser/icons/swipe.png" /></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Scale Object</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><img src="/browser/icons/pinch.png" /></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Place Object</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><img src="/browser/icons/left-click.png" /></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><strong>Delete Object</strong></div>
        <div class="col-md-6 col-xs-6 col-lg-6"><span class="key key-long">SHIFT</span> + <img src="/browser/icons/left-click.png" /></div>
      </div>

    </div>

  </div>

</div> -->


