<div>
  <div ng-hide="showControls.data" class="ctrls-modal">
    <table>
      <tr>
        <th>
          <h2>Controls</h2></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><strong>Move Forward</strong></td>
        <td>W</td>
        <td><strong>Rotate Object</strong></td>
        <td>TWO FINGER SCROLL</td>
      </tr>
      <tr>
        <td><strong>Move Back</strong></td>
        <td>S</td>
        <td><strong>Scale Object</strong></td>
        <td>PINCH</td>
      </tr>
      <tr>
        <td><strong>Rotate Left</strong></td>
        <td>A</td>
        <td><strong>Place Object</strong></td>
        <td>CLICK</td>
      </tr>
      <tr>
        <td><strong>Rotate Right</strong></td>
        <td>D</td>
        <td><strong>Delete Object</strong></td>
        <td>SHIFT + CLICK</td>
      </tr>
      <tr>
        <td><strong>Strafe Left</strong></td>
        <td>LEFT ARROW</td>
        <td><strong>Toggle Carousel</strong></td>
        <td>1</td>
      </tr>
      <tr>
        <td><strong>Strafe Right</strong></td>
        <td>RIGHT ARROW</td>
        <td><strong>Toggle Controls Key</strong></td>
        <td>2</td>
      </tr>
    </table>
  </div>
</div>
