<div>
  <div ng-hide="showControls.data" class="ctrls-modal">

    <h2>Controls</h2>
    
    <div class="row">
      <div class="col-md-3 col-xs-6"><strong>Move Forward</strong></div>
      <div class="col-md-3 col-xs-6">W</div>
      <div class="col-md-3 col-xs-6"><strong>Move Back</strong></div>
      <div class="col-md-3 col-xs-6">S</div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-6"><strong>Move Left</strong></div>
      <div class="col-md-3 col-xs-6">left arrow</div>
      <div class="col-md-3 col-xs-6"><strong>Move Right</strong></div>
      <div class="col-md-3 col-xs-6">right arrow</div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-6"><strong>Rotate Left</strong></div>
      <div class="col-md-3 col-xs-6">A</div>
      <div class="col-md-3 col-xs-6"><strong>Rotate Right</strong></div>
      <div class="col-md-3 col-xs-6">D</div>  
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-6"><strong>Look up</strong></div>
      <div class="col-md-3 col-xs-6">Q</div>
      <div class="col-md-3 col-xs-6"><strong>Look down</strong></div>
      <div class="col-md-3 col-xs-6">E</div>  
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-6"><strong>Rotate Object</strong></div>
      <div class="col-md-3 col-xs-6">2-finger scroll</div>
      <div class="col-md-3 col-xs-6"><strong>Scale Object</strong></div>
      <div class="col-md-3 col-xs-6">pinch</div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-6"><strong>Place Object</strong></div>
      <div class="col-md-3 col-xs-6">click</div>
      <div class="col-md-3 col-xs-6"><strong>Delete Object</strong></div>
      <div class="col-md-3 col-xs-6">shift + click</div>
    </div>

    <div class="row">
    <div class="col-md-3 col-xs-6"><strong>Toggle Carousel</strong></div>
      <div class="col-md-3 col-xs-6">1</div>
      <div class="col-md-3 col-xs-6"><strong>Toggle Controls Key</strong></div>
      <div class="col-md-3 col-xs-6">2</div>
    </div>
  </div>
</div>

<!-- <div>
  <div ng-hide="showControls.data" class="ctrls-modal">
    <table>
      <tr>
        <th>
          <h2>Controls</h2></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><strong>Move Forward</strong></td>
        <td>W</td>
        <td><strong>Rotate Object</strong></td>
        <td>TWO FINGER SCROLL</td>
      </tr>
      <tr>
        <td><strong>Move Back</strong></td>
        <td>S</td>
        <td><strong>Scale Object</strong></td>
        <td>PINCH</td>
      </tr>
      <tr>
        <td><strong>Rotate Left</strong></td>
        <td>A</td>
        <td><strong>Place Object</strong></td>
        <td>CLICK</td>
      </tr>
      <tr>
        <td><strong>Rotate Right</strong></td>
        <td>D</td>
        <td><strong>Delete Object</strong></td>
        <td>SHIFT + CLICK</td>
      </tr>
      <tr>
        <td><strong>Strafe Left</strong></td>
        <td>LEFT ARROW</td>
        <td><strong>Toggle Carousel</strong></td>
        <td>1</td>
      </tr>
      <tr>
        <td><strong>Strafe Right</strong></td>
        <td>RIGHT ARROW</td>
        <td><strong>Toggle Controls Key</strong></td>
        <td>2</td>
      </tr>
    </table>
  </div>
</div>
 -->
