<div id="blocker">

      <div id="instructions">
        <span id="memory">Your Memory Palace</span>
        <br />
        <br />
        <button ng-click="toggle()" type="button" class="btn btn-default big-btn btn-transparent">ENTER</button>
        <br />
        <br />
        <span id="memory-subtext">W, A, S, D, = Move | SPACE = Jump | Q, E = Look Up And Down
        <br />
        TWO FINGER SCROLL = Rotate Object | PINCH = Size Object | CLICK &amp SHIFT = Delete Object</span>
       <!--  (W, A, S, D, Q, E = Move, SPACE = Jump, Arrows = Look up and down) -->
      </div>

</div>
<div id="image">
</div>