<div>
  <div id="blocker">

      <div id="instructions">
        <span id="memory">Your Memory Palace</span>
        <br />
        Esc to enter
        <br />
        (W, A, S, D, = Move, SPACE = Jump, Q, E = Look up and down)
       <!--  (W, A, S, D, Q, E = Move, SPACE = Jump, Arrows = Look up and down) -->
      </div>

  </div>

	<div class="room-container">
	<three-model></three-model>
  <div class="container-fluid" ng-controller="menuCtrl">
	<slick settings="slickConfig" autoplay="true" slides-to-show="5" slides-to-scroll="1"> 
	   <div class="item objectImg" ng-repeat="object in objects">
	   	<div ng-click="setCurrentObject(object)" ng-style="{'background-image':'url({{object.image}})'}" class="imgDiv"></div>
	   </div>
	</slick>
</div>