<div>
  <modal></modal>
  	<room-icons></room-icons>
	<div class="room-container">
	<three-model></three-model>

  <div class="container carousel-container" ng-controller="menuCtrl">
    <slick class="carousel" settings="slickConfig" slides-to-show="5" slides-to-scroll="1"> 
       <div class="item objectImg" ng-repeat="object in objects">
        <div ng-click="setCurrentObject(object)" ng-style="{'background-image':'url({{object.image}})'}" class="imgDiv"></div>
       </div>
    </slick>
  </div>

</div>