<div ng-controller="roomCtrl">
      <message-modal></message-modal>
  <modal ng-show="welcomeModal.data"></modal>
  
	<div class="room-container">


  <about></about>
  <login-modal></login-modal>
	<three-model></three-model>
  <div class="col-sm-2 col">
       <ctrl-modal></ctrl-modal>
      </div>
  <div >
    <div class="col container-fluid carousel-container">
      <div class="row col">
      <div class="col-sm-2 col">
      <room-icons></room-icons>
      </div>
      <div class="col-sm-9 col">
        <obj-carousel></obj-carousel>
      </div>

      </div>
    </div>
  </div>

</div>